*{
    padding: 0;
    margin: 0;
}

form{
    padding: 15px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    width: 50%;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
display: flex;
flex-direction: column;
align-items: center;
}